.rc-pagination {
  @apply text-sm m-0 p-0 after:block after:clear-both after:h-0 after:overflow-hidden after:invisible after:content-['_'];
}
.rc-pagination ul,
.rc-pagination ol {
  @apply m-0 p-0;
}
.rc-pagination-total-text {
  @apply inline-block h-7 leading-[26px] align-middle mr-2;
}
.rc-pagination-item {
  @apply inline-block min-w-[28px] h-7 leading-[26px] text-center align-middle bg-transparent border cursor-pointer select-none mr-2 rounded-md border-solid border-slate-400;
}
.rc-pagination-item a {
  @apply block text-slate-800 transition-none px-1.5 py-0 hover:no-underline dark:text-slate-400;
}
.rc-pagination-item:focus,
.rc-pagination-item:hover {
  @apply transition-all border-slate-800;
}
.rc-pagination-item:focus a,
.rc-pagination-item:hover a {
  @apply text-slate-900;
}
.rc-pagination-item-active {
  @apply font-medium border-slate-800 bg-slate-800;
}
.rc-pagination-item-active a {
  @apply text-slate-50;
}
.rc-pagination-item-active:focus,
.rc-pagination-item-active:hover {
  @apply border-slate-900;
}
.rc-pagination-item-active:focus a,
.rc-pagination-item-active:hover a {
  @apply text-slate-50;
}
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  outline: 0;
}
.rc-pagination-jump-prev button,
.rc-pagination-jump-next button {
  @apply cursor-pointer text-[#666] border-[none];
  background: transparent;
}
.rc-pagination-jump-prev button:after,
.rc-pagination-jump-next button:after {
  @apply block content-['•••'];
}
.rc-pagination-prev,
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  @apply mr-2;
}
.rc-pagination-prev,
.rc-pagination-next,
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  @apply inline-block min-w-[28px] h-7 text-slate-500 leading-7 text-center align-middle cursor-pointer transition-all rounded-md;
}
.rc-pagination-prev,
.rc-pagination-next {
  outline: 0;
}
.rc-pagination-prev button,
.rc-pagination-next button {
  @apply text-slate-800 cursor-pointer select-none;
}
.rc-pagination-prev:hover button,
.rc-pagination-next:hover button {
  @apply border-slate-800;
}
.rc-pagination-prev .rc-pagination-item-link,
.rc-pagination-next .rc-pagination-item-link {
  @apply block w-full h-full text-xs text-center border transition-all rounded-md border-solid border-slate-400 text-slate-500;
}
.rc-pagination-prev:focus .rc-pagination-item-link,
.rc-pagination-next:focus .rc-pagination-item-link,
.rc-pagination-prev:hover .rc-pagination-item-link,
.rc-pagination-next:hover .rc-pagination-item-link {
  @apply text-slate-800 border-slate-800;
}
.rc-pagination-prev button:after {
  @apply content-['‹'] block;
}
.rc-pagination-next button:after {
  @apply content-['›'] block;
}
.rc-pagination-disabled,
.rc-pagination-disabled:hover,
.rc-pagination-disabled:focus {
  @apply cursor-not-allowed;
}
.rc-pagination-disabled .rc-pagination-item-link,
.rc-pagination-disabled:hover .rc-pagination-item-link,
.rc-pagination-disabled:focus .rc-pagination-item-link {
  @apply text-slate-300 cursor-not-allowed border-slate-300;
}
.rc-pagination-slash {
  @apply ml-[5px] mr-2.5 my-0;
}
.rc-pagination-options {
  @apply inline-block align-middle ml-4;
}
@media all and (-ms-high-contrast: none) {
  .rc-pagination-options *::-ms-backdrop,
  .rc-pagination-options {
    @apply align-top;
  }
}
.rc-pagination-options-size-changer.rc-select {
  @apply inline-block w-auto mr-2;
}
.rc-pagination-options-quick-jumper {
  @apply inline-block h-7 leading-7 align-top;
}
.rc-pagination-options-quick-jumper input {
  @apply w-[50px] mx-2 my-0;
}
.rc-pagination-simple .rc-pagination-prev,
.rc-pagination-simple .rc-pagination-next {
  @apply h-6 leading-6 align-top;
}
.rc-pagination-simple .rc-pagination-prev .rc-pagination-item-link,
.rc-pagination-simple .rc-pagination-next .rc-pagination-item-link {
  @apply h-6 bg-transparent border-0;
}
.rc-pagination-simple .rc-pagination-prev .rc-pagination-item-link::after,
.rc-pagination-simple .rc-pagination-next .rc-pagination-item-link::after {
  @apply h-6 leading-6;
}
.rc-pagination-simple .rc-pagination-simple-pager {
  @apply inline-block h-6 mr-2;
}
.rc-pagination-simple .rc-pagination-simple-pager input {
  @apply box-border h-full text-center bg-white border transition-[border-color] mr-2 px-1.5 py-0 rounded-md border-solid border-[#d9d9d9] hover:border-[#1890ff];
  outline: none;
}
.rc-pagination.rc-pagination-disabled {
  @apply cursor-not-allowed;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item {
  @apply cursor-not-allowed border-[#d9d9d9] bg-slate-50;

}
.rc-pagination.rc-pagination-disabled .rc-pagination-item a {
  @apply text-slate-300 cursor-not-allowed border-[none];
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-active {
  @apply border-transparent;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-active a {
  @apply text-white;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-link {
  @apply text-[rgba(0,0,0,0.25)] cursor-not-allowed border-[#d9d9d9] bg-slate-50;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-link-icon {
  @apply opacity-0;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-ellipsis {
  @apply opacity-100;
}
@media only screen and (max-width: 992px) {
  .rc-pagination-item-after-jump-prev,
  .rc-pagination-item-before-jump-next {
    @apply hidden;
  }
}
@media only screen and (max-width: 576px) {
  .rc-pagination-options {
    @apply hidden;
  }
}
